<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <!--主要是强制让文档的宽度与设备宽度保持1:1，最大宽度1.0，禁止屏幕缩放。-->
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
  <!--这个也是iphone私有标签，允许全屏浏览。-->
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <!--iphone的私有标签，iphone顶端状态条的样式。-->
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <!--禁止数字自动识别为电话号码，这个比较有用，因为一串数字在iphone上会显示成蓝色，样式加成别的颜色也是不生效的。-->
  <meta content="telephone=no" name="format-detection" />
  <!--禁止email识别-->
  <meta content="email=no" name="format-detection" />
  <title>二三维联动</title>
  <link rel="stylesheet" type="text/css" href="http://localhost:8899/css/lobibox.css">
  <link rel="stylesheet" type="text/css" href="http://localhost:8899/css/viewer2D.css">
  <%= htmlWebpackPlugin.tags.headTags %>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    body{
      margin: 0;
      overflow: hidden;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #linkage{
      width: 100%;
      height: 100%;
      -webkit-user-drag: none;
    }
  </style>
</head>
<body>
  <div id="linkage"></div>
  <script type="module">
    import * as BOS3D from "http://localhost:8899/src/index.js";
    window.BOS3D = BOS3D;
  </script>
  <script type="module" >
    import * as BOS2D from "http://localhost:8899/src/viewer2D/src/index.js";
    window.BOS2D = BOS2D;
  </script>
  <%= htmlWebpackPlugin.tags.bodyTags %>
  <script>
    document.body.onload = function () {
      const linkage = new Linkage({
        BOS3D: window.BOS3D,
        BOS2D: window.BOS2D,
        BOS3DUI: window.BOS3DUI,
        BOS2DUI: window.BOS2DUI,
        selector: '#linkage',
        host: 'https://bos3d-alpha.bimwinner.com',
        // host: 'https://bos3d-beta.bimwinner.com',
        // host: 'http://alpha-building-hkiot-bos3d.rickricks.com.cn',
        token: '',
        share: '',
        onInitComplete: () => {
          // console.log('test: ', linkage.viewer3D, linkage.viewer2D, linkage.bos3dui, linkage.bos2dui)
        }
      });
      // 乌镇无图纸，测试环境
      // linkage.addView('M1577341307688', 'test2');
      // revit，江湖别墅，带轴网，研发，测试
      linkage.addView("M1620959518127", "j6c46b6c3d4d4676a7e528980a1a42b5");
      // linkage.addView("M1606899191432", "s3b3e1986d044aa299f0d45ae98a7651");
      window.linkage = linkage;
    }
  </script>
</body>
</html>
